@import "./utils/_mixins.scss";
@import "./utils/_colors.scss";
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Roboto+Slab");

// structure
body {
  background: $purple;
  color: $body-bg;
  margin: 0;
  padding: 0;
  font-size:14px;
  font-family: "Roboto Slab", serif;
}

.root {
  margin: 0 auto;
  text-align: center;
}

// search form container
#search-form {
  padding: 10px;

  #input-search {
    border: 0;
    font-size: 18px;
    padding: 25px;
    width: 300px;
    @include border-radius-separate(5px, 0, 0, 5px);
    @include transition(all .5s ease);

    @media screen and (max-width: 480px) {
      width: 220px;
    }
  }

  #btn-search {
    border: 0;
    margin: 0;
    padding: 15px;
    font-size: 18px;
    vertical-align: baseline;
    color: #fff;
    padding: 15px 17px 22px;
    font-size: 25px;
    font-family: 'Bree Serif', serif;

    @include background-gradient($light-green, $dark-green, "vertical");
    @include border-radius-separate(0, 5px, 5px, 0);
  }

  h1 {
    color: $pink-1;
    font-family: "Roboto Slab", serif;
    font-size: 22px;
  }
}

// profile container
#gh-profile {
  display: block;
  margin: 30px auto 5px;
  background: #fff;
  width: 90%;
  max-width: 800px;
  padding-bottom:10px;
  @include border-radius-separate(5px, 5px, 5px, 5px);
  @include transition(all .5s ease);

  .gh-picture {
    background: url(../img/pattern2.jpg) no-repeat center center;
    display:block;
    position:relative;
    width:100%;
    height:160px;
    @include border-radius-separate(5px,5px,0,0);

    .avatar{
      padding-top: 65px;
      display: block;
      width: 350px;
      text-align: center;
      margin: 0 auto;
      
      img {
        width: 50%;
        @include rounded(50%);
      }
    }
  }

  .infos{
    padding:0 20px;
    line-height: 10px;
  }

  .gh-name{
    position: relative;
    display: block;
    a{
      text-decoration: none;
      color:$purple;
      font-family: 'Bree Serif', serif;
      font-size: 22px;
      display: block;
      margin-top: 110px;
    }
  }
}

// repos and starred list
#repos-list, #starred-list{
  margin: 5px auto 0;
  background: #fff;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include border-radius-separate(5px, 5px, 5px, 5px);
  @include transition(all .5s ease);

  h1{
    margin:0;
  }

  article{
    width: 40%;
    margin: 15px 5%;
    @include border-radius-separate(5px, 5px, 5px, 5px);
    @include box-shadow(0px, 2px, 8px, #a1a1a12e);
    @include transition(all .5s ease);

    @media screen and (max-width: 480px) {
      width: 90%;
    }
    header{
      background: $light-green;
      a{
        text-decoration: none;
        color:$purple;
        font-family: 'Bree Serif', serif;
        font-size: 12px;
        color: #fff;
        text-transform:uppercase;
        display: block;
        padding:5px;
      }
    }

    p{
      padding:5px;
      font-size:12px;
      line-height:10px;
      margin:0;
      @include truncate(2);
    }
  }
}

// buttons
.btn-primary{
  display:inline-block;
  width:90%;
  max-width: 800px;
  padding:20px 0;
  margin:5px auto;
  font-size:18px;
  font-family: 'Bree Serif', serif;
  text-transform:uppercase;
  text-decoration: none;
  color:#fff;
  @include border-radius-separate(5px, 5px, 5px, 5px);
  @include background-gradient($pink-1, $pink-2, "horizontal");

  .icon-arrow{
    width: 15px;
    vertical-align: middle;
    margin-left: 5px;
  }
}

// footer
.footer{
  width:100%;
  margin:20px auto;
  max-width: 800px;
  text-align:center;
  p{
    color:#fff;
    a{
      color:$pink;
    }
  }
  span{
    display:inline-block;
    width:15px;

    img{
      width:100%;
      vertical-align:middle;
    }
  }
}