// colors
$body-color: rgb(56, 8, 145);
$body-bg: #212b4d;
$orange: #f57922;
$light-green: #05cba7;
$dark-green: #04997e;
$pink: #db7283;
$pink-1: #ff7677;
$pink-2: #f64fa2;
$dark-blue: #2d2f43;
$purple: #3a2e48;